body {
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-content {
    width: 100%;
    padding: 0;
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
}

h1 {
    text-align: center;
    line-height: 3rem;
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

.input-box {
    width: 60%;
    display: flex;
    padding-top: 1.5rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.inner-content {
    height: 3rem;
    border-radius: 5px;
    border: 2px solid grey;
    box-sizing: border-box;
    outline: none;
}

.inner-content.input {
    width: 50%;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.inner-content.btn {
    width: 20%;
    background: none;
}